EXPO_PUBLIC_BASE_URL=https://www.thecocktaildb.com/api/json/v1
EXPO_PUBLIC_API_KEY=<your-apikey>

EXPO_PUBLIC_APPWRITE_PLATFORM=<appwrite-platform>
EXPO_PUBLIC_APPWRITE_PROJECT_REGION=<appwrite-project-region>
EXPO_PUBLIC_APPWRITE_PROJECT_ID=<appwrite-project-id>
EXPO_PUBLIC_APPWRITE_DATABASE_ID=<appwrite-db-id>
EXPO_PUBLIC_APPWRITE_COLLECTION_ID=<appwrite-collection-id>